{% extends 'cms/admin_base.html' %}

{% block content %}
<!--begin::App Content-->
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header"><h3 class="card-title">Пользователи</h3></div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Дата регистрации</th>
                                <th>День рождения</th>
                                <th>Email</th>
                                <th>Телефон</th>
                                <th style="width: 200px;">ФИО</th>
                                <th>Псевдоним</th>
                                <th>Город</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in page_obj.object_list %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.registration_date|date:"d.m.Y H:i" }}</td>
                                <td>{{ user.birth_date|date:"d.m.Y" }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.phone }}</td>
                                <td style="width: 200px;">{{ user.first_name }} {{ user.last_name }}</td>
                                <td>{{ user.nickname }}</td>
                                <td>{{ user.city }}</td>
                                <td>
                                <!-- кнопка редагування -->
                                    <a href="{% url 'user_edit' user.id %}" class="btn btn-sm btn-primary" title="Редактировать">
                                        <i class="bi bi-pencil-fill"></i></a>
                                </td>
                                <td>
                                <!-- кнопка видалення -->
                                    <form action="{% url 'user_delete' user.id %}" method="post" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-danger" title="Удалить" onclick="return confirm('Вы уверены, что хотите удалить эту запись?');"><i class="bi bi-trash-fill"></i></button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                    <!-- <div class="card-footer clearfix">
                        <ul class="pagination pagination-sm m-0 float-end">
                            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                        </ul>
                    </div> -->
                    <div class="card-footer clearfix">
                        <ul class="pagination pagination-sm m-0 float-end">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">&laquo;</span>
                            </li>
                            {% endif %}

                            {% for num in page_obj.paginator.page_range %}
                            {% if num == page_obj.number %}
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">{{ num }}</span>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">&raquo;</span>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>
<!--end::App Content-->

{% endblock %}