body {
    margin: 0;
    min-height: 100vh;
    background-image: url('../img/bg2.jpg');
    background-repeat: repeat;
    background-size: contain;
    background-position: top left;
}

/* Відступи та фон для всього хедера */
.header-container {
  padding: 10px 30px;
  background-color: #ffffff;
}

/* Гнучка ширина для головного блоку */
.header-wrapper {
  width: 100%;
}

/* Стиль для логотипу */
.logo {
  flex: 0 0 auto;
  padding-right: 20px;
}

.logo img {
  height: 80px;
  width: 120px;
}

.navbar {
    width: 85%; /* щоб зайняти всю ширину */
}

.navbar a,
.navbar span,
.navbar .dropdown a,
.navbar .dropdown span {
    flex: 1; /* рівна ширина */
    display: flex;
    justify-content: center; /* по горизонталі по центру */
    align-items: center; /* по вертикалі по центру, якщо потрібно */
    padding: 10px 10px; /* відступи */
    text-decoration: none; /* щоб не було підкреслення */
    transition: all 0.3s ease; /* плавний перехід */
    font-weight: bold;
}

.navbar .dropdown .dropdown-menu span {
    justify-content: left !important;
}

/*.navbar a:hover,*/
/*.navbar span:hover,*/
/*.navbar .dropdown a:hover,*/
/*.navbar .dropdown span:hover {*/
/*    border: 1px solid #000; !* або будь-який колір рамки *!*/
/*    !*padding: 8px; !* щоб рамка не зменшувала внутрішній простір *!*/
/*}*/

.search {
    width: 400px;
    margin-left: 45px !important;
}

.search input {
    width: 100%;
}

li.nav-item.dropdown.user-menu::marker {
  content: "";
  display: none;
}

li.nav-item.dropdown.user-menu {
  list-style: none !important;
}

.main-content {
    margin: 50px 100px;
}

.banner-top {
    width: 100%;
    overflow: hidden; /* обрізати все, що виходить за межі блока */
    max-height: 100px; /* максимальна висота */
    position: relative;
    /*display: inline-block;*/
  }

  .banner-top img {
    width: 100%;
    height: 100px; /* встановлюємо висоту */
    object-fit: cover; /* обрізання по висоті з збереженням пропорцій */
    display: block; /* щоб не було відступів */
    margin: 0; /* щоб не було відступів */
  }

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Білий колір тексту */
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.2em;
}

.content-container {
    background-color: #ffffff; /* Білий фон */
    padding: 20px 70px; /* Внутрішні відступи зверху/знизу і справа/зліва */
    margin: 50px 100px; /* Зовнішні відступи, щоб відокремити від інших елементів сторінки */
    box-sizing: border-box;
    border-radius: 8px; /* За бажанням, щоб краї були заокруглені */
    box-shadow: 0 2px 8px rgba(0,0,0,0.1); /* Тінь для об'єкта */
}

.phone-link {
    display: block;
    font-size: 1.5em; /* великий шрифт */
    color: #000000; /* чорний колір */
    text-decoration: none;
    margin-bottom: 8px;
}
.phone-link:hover {
    text-decoration: underline;
}

.seo-section {
    text-align: center;
}

.section-title {
    font-size: 1.5em;
}

.section-text {
    display: flex;
}


/* Стилі для адаптивності */
@media(max-width: 768px) {
  .header-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}